.title-social {
    font-size: 25px;
    margin-top: 50px;
    color: black;
    border-right: 2px solid white;
    background: rgba(3, 240, 255, 1);

    
}
.social-contain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 10px;
    gap: 10px;
}
.social-contain--div {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    font-size: 30px;
    justify-content: center;
}
.social-contain--div:hover {
    transform: scale(1.1);
}
.social-img--github {
    background-image: url('../../assets/github_portafolio.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 120px;
}

.social-img--linkedin {
    background-image: url('../../assets/linkedin_portafolio.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 120px;
}
.social-img--facebook {
    background-image: url('../../assets/facebook_portafolio.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 120px;
}