.aboutme-text {
    font-size: 30px;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.aboutme-text p{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.aboutme-image {
    background-image: url('../../assets/tecnoAmbiente2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    place-self: end;
    margin-top: -50px;
}

@media screen and (max-width:550px) {
    .aboutme-text {
        font-size: 20px;
        
        
    }
}